.modal-entering,
.modal-exiting,
.modal-exited {
  pointer-events: none;
  opacity: 0;
  display: block;
  transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(0); /* Modificado para começar com scale(0) */
}

.modal-entered {
  pointer-events: all;
  opacity: 1;
  display: block;
  transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1); /* Modificado para terminar com scale(1) */
}
